/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --main-color: #b8a47e;
  --text-color: #adadad;
  --body-font-family: "Unbounded", sans-serif;

  --h1-font-size: 42px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;
  --p-font-size: 16px;
  --menu-font-size: 12px;
  --btn-font-size: 14px;
  --copyright-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--text-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  text-align: justify;
}

ul li {
  color: var(--main-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}
ul {
  list-style: none;
}

/*---------------------------------------
    Header              
-----------------------------------------*/

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #b7a37e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  height: 86px;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0);
  transition: background-color 0.3s ease;
}

body.scrolled .navbar::before {
  background-color: rgba(0, 0, 0, 0.85);
}

.navbarNav {
  position: relative;
  top: 20px;
}

.navbarNav .icon {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  position: fixed;
  top: -56px;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

/* Thay đổi màu chữ khi hover và khi được chọn */
.navbar a.nav-link {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
body.scrolled .navbar a.nav-link {
  color: #fff;
}
body.scrolled .navbar a.nav-link:hover {
  color: var(--main-color);
}
.navbar-nav {
  display: flex;
  gap: 54px;
}
.navbar a.change-color,
body.scrolled .navbar a.change-color {
  color: var(--main-color);
}

a.change-color::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 1px;
  background-color: var(--main-color);
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}
a.change-color::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-color);
  bottom: 6px;
  left: 110%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

/*---------------------------------------
    Navy            
-----------------------------------------*/

.navy-section {
  height: 92vh;
  align-items: center;
}

.navy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1480px; */
  margin: 0 auto;
  /* padding: 0 20px; */
}

.navy-left {
  flex: 1;
  position: relative;
}

.nav-number {
  position: fixed;
  top: 200px;
  left: 74px;
  padding: 5px;
  z-index: 10;
}

.navy-pos {
  position: absolute;
  top: -106px;
  left: 264px;
  width: 200%;
}
.navy_gear-up {
  margin-top: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  padding-left: 80px;
  color: var(--main-color);
}
.navy_gear-up .vertical-line {
  width: 40px;
  background-color: var(--main-color);
}

.navy_gear-up svg {
  fill: var(--main-color);
}

.navy-pos h1 {
  margin-top: 20px;
  letter-spacing: 7px;
}

.navy-right {
  flex: 2;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------
    Voyager              
-----------------------------------------*/

.voyager-section {
  height: 92vh;
  display: flex;
  align-items: center;
}

.voyager-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1480px; */
  margin: 0 auto;
  padding-bottom: 84px;
}

.voyager-left {
  flex: 2;
}

.voyager-right {
  flex: 1;
}
.voyager-pos {
  position: relative;
}
.voyager-square {
  width: 680px;
  height: 240px;
  border: 4px solid #b7a984;
  position: absolute;
  top: -140px;
  left: -300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.voyager-square::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 20%;
  width: 20%;
  height: 2%;
  background-color: #ffffff;
}

.voyager-square_title {
  flex: 1;
}

.voyager-square_title h1 {
  position: absolute;
  top: 64px;
  left: -246px;
  color: #fff;
  letter-spacing: 7px;
}
.voyager-square_title h6 {
  float: right;
  padding: 48px 48px 0 0;
  color: #fff;
  font-weight: 500;
}
.voyager-square p {
  line-height: 32px;
  font-size: 14px;
  padding-right: 27px;
}
.voyager-pos .arrow-down img {
  position: absolute;
  top: 104px;
  height: 60px;
  left: 172px;
}

/*---------------------------------------
    drifter            
-----------------------------------------*/
.drifter-section {
  height: 92vh;
  display: flex;
  align-items: center;
  background-color: #ededed;
}

.drifter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1480px; */
  margin: 0 auto;
  /* padding: 0 20px; */
}

.drifter-left {
  flex: 1;
}

.drifter-right {
  flex: 2;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drifter-pos {
  position: relative;
}
.drifter-title {
  position: absolute;
  top: -167px;
  left: 130px;
  font-size: 34px;
  font-weight: 700;
  color: #afafaf;
}
.drifter-square {
  width: 680px;
  height: 240px;
  border: 4px solid #b7a984;
  position: absolute;
  top: -140px;
  left: 130px;
  display: flex;
  justify-content: space-evenly;
}
.drifter-square::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  width: 20%;
  height: 2%;
  background-color: #ededed;
}
.drifter-square p {
  line-height: 32px;
  font-size: 14px;
  padding: 18px 100px 10px 40px;
}
.drifter-square_title {
  display: flex;
  justify-content: right;
  align-items: center;
}

.drifter-square_title h1 {
  position: absolute;
  top: 70px;
  left: 440px;
  width: 504px;
  color: #fff;
  letter-spacing: 7px;
}
.drifter-square_title h6 {
  padding-top: 30px;
  font-weight: 300;
  color: #fff;
}

.drifter-pos .arrow-down img {
  position: absolute;
  top: 104px;
  height: 60px;
  left: 330px;
}

/*---------------------------------------
    collect           
-----------------------------------------*/
.collect-section {
  position: relative;
  padding-bottom: 120px;
}
.collect-title {
  padding-top: 120px;
  text-align: center;
}
.collect-desc {
  margin-left: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.collect-desc h6 {
  background-color: #e1d9c9;
  padding-right: 240px;
}
.collect-container {
  max-width: 1200px;
  margin: 70px auto 0;
  padding: 0 20px;
}
.collect_read-more {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.collect1,
.collect2 {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.collect1-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-number {
  display: flex;
  align-items: center;
}
.vertical-line {
  width: 100px;
  margin-left: 6px;
  height: 2px;
  background-color: black;
  display: inline-block;
}

.horizontal-line {
  height: 50px;
  width: 2px;
  background-color: black;
  margin-bottom: 10px;
}

.collect1-logo {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}
.collect1-logo img {
  width: 120px;
  height: 54px;
}
.collect1-logo .horizontal-line {
  height: 105px;
  z-index: 1;
}

.collect1-top .collect1-left {
  flex: 3;
}
.collect1-top .collect1-right {
  flex: 2;
}
.collect1-top .collect1-right p {
  width: 358px;
  font-size: 14px;
}
.collect1-bottom {
  display: flex;
  position: absolute;
  top: 422px;
  left: 152px;
  justify-content: space-between;
  align-items: center;
  padding-right: 120px;
}

.collect1-bottom .collect1-left {
  flex: 2;
}
.collect1-bottom .collect1-left .horizontal-line {
  height: 105px;
  z-index: 1;
}
.collect1-bottom .collect1-left p {
  width: 360px;
  padding-left: 42px;
}
.bottom-desc {
  padding: 0 20px;
  display: inline-block;
  background-color: #b7a37e;
  position: relative;
  left: -32px;
}
.bottom-desc h6 {
  position: relative;
  top: -10px;
  margin: 0;
  letter-spacing: 7px;
}

.collect1-bottom .collect1-right {
  flex: 2;
}

.collect2 {
  margin-top: 120px;
}
.collect2 .number2 {
  justify-content: center;
  position: relative;
  top: 115px;
  z-index: 1;
}
.collect2-top {
  display: flex;
  /* align-items: center; */
  position: relative;
  left: 120px;
  top: 88px;
}

.collect2-top .collect2-left {
  width: 40%;
}
.collect2-top .collect2-right {
  padding-left: 100px;
}
.collect2-top .collect2-right p {
  width: 340px;
  font-size: 14px;
}

.collect2-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.collect2-bottom .collect2-left {
  flex: 3;
}
.collect2-bottom .collect2-left img {
  width: 382px;
  position: relative;
  left: 200px;
}
.collect2-bottom .collect2-right {
  flex: 3;
}

.second-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.collect3 {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 34px;
  position: relative;
}
.image-wrap {
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.last-img {
  position: absolute;
  top: -320px;
  right: 16%;
  width: 160px;
}
.last-img .background {
  width: 100%;
  height: 460px;
}

.last-img .G {
  position: absolute;
  top: 274px;
  left: 69px;
  width: 31px;
}

.last-img .oo {
  position: absolute;
  top: 320px;
  left: 70px;
  width: 82px;
}
/*---------------------------------------
    contact           
-----------------------------------------*/
.contact-section {
  background-color: #ededed;
}
.contact-container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-logo {
  flex-basis: 15%;
  padding: 10px;
}

.contact-location {
  flex-basis: 25%;
  padding: 24px 10px;
}
.logo {
  max-width: 100%;
}
.contact-nav {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.contact-items {
  flex-basis: 37.5%;
  padding: 10px;
}

.contact-email {
  flex-basis: 12.5%;
  padding: 24px 10px;
}

.email-title {
  font-weight: 700;
  font-size: 15px;
}

.email-desc {
  font-size: 11px;
  padding: 10px 0;
  color: #383838;
}

.email-form {
  display: flex;
}

.email-form input {
  border: 1px solid #d1d1d1;
}

.email-form input:focus {
  outline: none;
}

.email-form button {
  background-color: #000;
}

.contact-nav .main-item {
  font-weight: 600;
}
.contact-link {
  color: #919191;
}
.sub-contact {
  display: flex;
}
.social-subnav {
  display: flex;
  gap: 60px;
}
.location-desc {
  color: #8f8f8f;
}

.sub-ore {
  margin: auto 0;
  font-size: 12px;
  color: #808080;
}

/* Nav number */
.nav-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-number .horizontal-line {
  height: 30px;
  background-color: var(--main-color);
}

.active {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.number-link {
  color: #6c6c6c;
  font-weight: 600;
}

/* Media query cho laptop */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .voyager-section,
  .drifter-section,
  .navy-section {
    height: 70vh;
  }
  .voyager-square {
    left: -320px;
  }
  .voyager-pos .arrow-down img {
    left: 156px;
  }
  .drifter-left {
    flex: 2;
  }
  .drifter-right {
    flex: 3;
  }
  .drifter-square {
    left: 68px;
  }
  .drifter-title {
    left: 106px;
  }
  .collect-desc h6 {
    padding-right: 180px;
  }
  .bottom-desc {
    padding: 0 5px;
  }

  .collect2 {
    margin-top: 200px;
  }

  .collect2-top {
    display: flex;
    position: absolute;
    left: 120px;
    top: 88px;
  }
  .collect2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 230px 138px 0 0;
  }

  .collect2-bottom .collect2-left img {
    width: 382px;
    position: relative;
    left: 128px;
  }

  .collect2 .number2 {
    position: relative;
    top: 54px;
    left: -35px;
    z-index: 1;
  }
  .collect3 {
    gap: 20px;
  }
  .image-wrap {
    width: 103px;
    height: 103px;
    overflow: hidden;
  }
  .last-img {
    top: -296px;
  }
  .last-img .background {
    width: 100%;
    height: 400px;
  }
}

/* Media query cho tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navy-section {
    height: 56vh;
  }
  .navy-pos {
    position: absolute;
    top: -64px;
    left: 88px;
    width: 200%;
  }
  .voyager-section {
    height: 60vh;
    display: flex;
    align-items: center;
    margin-top: 52px;
  }
  .voyager-square {
    width: 620px;
  }
  .voyager-square p {
    line-height: 32px;
    font-size: 12px;
    padding: 0;
  }
  .drifter-section {
    height: 68vh;
  }
  .drifter-title {
    left: 28px;
  }

  .drifter-square_title h6 {
    font-size: 19px;
  }

  .drifter-square {
    width: 650px;
    height: 240px;
    top: -140px;
    left: 15px;
  }

  .drifter-square p {
    line-height: 32px;
    font-size: 12px;
    padding: 6px 133px 10px 13px;
  }

  .collect-title {
    padding-top: 80px;
  }

  .collect-desc h6 {
    background-color: #e1d9c9;
    padding-right: 130px;
  }

  .collect1-bottom .collect1-left p {
    width: 350px;
    font-size: 12px;
    padding-left: 0px;
  }

  .collect1-bottom {
    top: 376px;
    left: 124px;
  }

  .collect2 .number2 {
    top: 107px;
    left: -40px;
  }

  .collect2-top {
    display: flex;
    position: absolute;
    left: 120px;
    top: 146px;
  }

  .collect2-top .collect2-right {
    padding-left: 70px;
  }

  .collect2-top .collect2-right p {
    width: 340px;
    font-size: 12px;
  }

  .collect2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 280px 138px 0 0;
  }

  .collect3 {
    gap: 15px;
  }

  .image-wrap {
    width: 90px;
    height: 90px;
    overflow: hidden;
  }

  .last-img .G {
    top: 220px;
  }
  .last-img .oo {
    top: 267px;
  }
  .last-img {
    top: -262px;
  }
  .last-img .background {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbarNav {
    flex: 1;
    margin: auto 0;
    margin-right: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .navbarNav a {
    display: none;
  }
  .navbarNav a.icon {
    float: right;
    display: block;
    color: #fff;
  }
  .navbarNav.responsive {
    position: relative;
  }
  .navbarNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbarNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navy-container {
    display: block;
  }
  .navy-section {
    height: 60vh;
  }
  .navy-pos {
    position: absolute;
    top: 160px;
    left: 54px;
    color: #fff;
    width: auto;
  }
  .navy_gear-up {
    color: #fff;
  }

  .voyager-section {
    height: 70vh;
  }

  .voyager-container {
    display: block;
    padding-bottom: 130px;
  }

  .voyager-square {
    width: 576px;
    top: -117px;
    left: 50px;
    display: block;
  }
  .voyager-square_title h1 {
    position: static;
  }
  .voyager-square_title h6 {
    float: none;
    padding: 20px 0 0 0;
  }

  .voyager-pos .arrow-down img {
    position: absolute;
    top: 127px;
    height: 60px;
    left: 453px;
  }

  /*  */

  .drifter-section {
    height: 70vh;
  }

  .drifter-container {
    display: block;
    padding-bottom: 130px;
  }

  .drifter-square {
    width: 576px;
    top: 200px;
    left: 50px;
    display: flex;
    flex-direction: column;
  }
  .drifter-square_title h1 {
    position: static;
  }
  .drifter-square_title h6 {
    float: none;
    padding: 20px 0 0 0;
  }

  .drifter-pos .arrow-down img {
    position: absolute;
    top: 444px;
    height: 60px;
    left: 218px;
  }
  .drifter-square p {
    line-height: 32px;
    font-size: 14px;
    padding: 0;
    order: 1;
  }
  .drifter-square_title {
    display: block;
    justify-content: right;
    align-items: center;
  }

  .drifter-title {
    top: 173px;
    left: 57px;
  }

  .collect-section {
    padding-bottom: 80px;
  }

  .collect-title {
    padding-top: 80px;
    text-align: center;
  }
  .collect-desc {
    margin-left: 26%;
  }
  .collect-desc h6 {
    padding-right: 84px;
  }
  .collect-container {
    margin: 40px auto 0;
  }
  .collect1-top {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .collect1-right .horizontal-line {
    display: none;
  }
  .collect1-logo {
    display: none;
  }
  .collect1-bottom {
    position: static;
    flex-direction: column;
    padding-right: 0;
    align-items: start;
  }
  .collect1-bottom .collect1-left {
    margin-top: 42px;
    order: 1;
  }
  .collect1-left .horizontal-line {
    display: none;
  }
  .collect1-bottom .collect1-left p {
    width: auto;
    padding-left: 42px;
    text-align: justify;
  }
  .bottom-desc {
    padding: 0 20px;
    display: inline-block;
    background-color: #b7a37e;
    position: relative;
    left: 0px;
  }

  .collect2 {
    margin-top: 40px;
  }
  .collect2 .number2 {
    position: static;
    justify-content: start;
  }

  .collect2-top {
    display: block;
    position: static;
  }
  .collect2-top .collect2-left {
    width: auto;
  }
  .collect2-top .collect2-right {
    padding-left: 0;
  }
  .collect2-top .collect2-right p {
    width: auto;
    font-size: 14px;
  }
  .number3 {
    padding-top: 20px;
  }

  .collect2-bottom {
    display: block;
    padding-right: 0;
    position: relative;
  }
  .collect2-bottom .collect2-left {
    position: absolute;
    bottom: 32px;
    left: -7%;
  }

  .collect3 {
    margin-top: 20px;
    gap: 20px;
  }
  .image-wrap {
    width: 80px;
    height: 80px;
  }
  .last-img {
    display: none;
  }
  .contact-section {
    display: none;
  }
  .nav-number {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .navbarNav {
    flex: 1;
    margin: auto 0;
    margin-right: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .navbarNav a {
    display: none;
  }
  .navbarNav a.icon {
    float: right;
    display: block;
    color: #fff;
  }
  .navbarNav.responsive {
    position: relative;
  }
  .navbarNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbarNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navy-container {
    display: block;
  }
  .navy-section {
    height: 60vh;
  }
  .navy-pos {
    position: absolute;
    top: 160px;
    left: 54px;
    color: #fff;
    width: auto;
  }
  .navy-pos h1 {
    font-size: 32px;
  }
  .navy_gear-up {
    color: #fff;
    margin-top: 20px;
  }

  .voyager-section {
    height: 90vh;
  }

  .voyager-container {
    display: block;
    padding-bottom: 130px;
  }

  .voyager-square {
    width: auto;
    display: block;
    position: static;
    height: auto;
  }
  .voyager-square_title h1 {
    position: static;
    color: var(--text-color);
  }
  .voyager-square_title h6 {
    float: none;
    padding: 20px 0 0 0;
    color: var(--text-color);
  }

  .voyager-pos .arrow-down img {
    display: none;
  }

  .drifter-section {
    height: 70vh;
  }

  .drifter-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 130px;
  }

  .drifter-square {
    width: auto;
    top: 200px;
    left: 50px;
    display: flex;
    flex-direction: column;
    position: static;
  }
  .drifter-square_title h1 {
    color: var(--text-color);
    position: static;
  }
  .drifter-square_title h6 {
    float: none;
    padding: 20px 0 0 0;
    color: var(--text-color);
  }
  .drifter-left {
    order: 1;
  }
  .drifter-pos .arrow-down img {
    display: none;
  }
  .drifter-square p {
    line-height: 32px;
    font-size: 14px;
    padding: 0;
    order: 1;
  }
  .drifter-square_title {
    display: block;
    justify-content: right;
    align-items: center;
  }

  .drifter-title {
    position: static;
  }

  .collect-section {
    padding-bottom: 80px;
  }

  .collect-title {
    padding-top: 80px;
    text-align: center;
  }
  .collect-desc {
    margin-left: 15%;
  }
  .collect-desc h6 {
    padding-right: 84px;
  }
  .collect-container {
    margin: 40px auto 0;
  }
  .collect1-top {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .collect1-right .horizontal-line {
    display: none;
  }
  .collect1-logo {
    display: none;
  }
  .drifter-square,
  .voyager-square {
    margin: 0 20px;
  }

  .collect1-bottom {
    position: static;
    flex-direction: column;
    padding-right: 0;
    align-items: start;
  }
  .collect1-bottom .collect1-left {
    margin-top: 42px;
    order: 1;
  }
  .collect1-left .horizontal-line {
    display: none;
  }
  .collect1-bottom .collect1-left p {
    width: auto;
    padding-left: 42px;
    text-align: justify;
  }
  .bottom-desc {
    padding: 0 20px;
    display: inline-block;
    background-color: #b7a37e;
    position: relative;
    left: 0px;
  }

  .collect2 {
    margin-top: 40px;
  }
  .collect2 .number2 {
    position: static;
    justify-content: start;
  }

  .collect2-top {
    display: block;
    position: static;
  }
  .collect2-top .collect2-left {
    width: auto;
  }
  .collect2-top .collect2-right {
    padding-left: 0;
  }
  .collect2-bottom .collect2-left img {
    width: 382px;
    position: static;
  }
  .collect2-top .collect2-right p {
    width: auto;
    font-size: 14px;
  }
  .number3 {
    padding-top: 20px;
  }

  .collect2-bottom {
    display: block;
    padding-right: 0;
    position: relative;
  }
  .collect2-bottom .collect2-left {
    position: absolute;
    bottom: 32px;
    left: -7%;
  }

  .collect3 {
    margin-top: 20px;
    gap: 20px;
  }
  .image-wrap {
    width: 80px;
    height: 80px;
  }
  .last-img {
    display: none;
  }
  .contact-section {
    display: none;
  }
  .nav-number {
    display: none;
  }
}
